.cardMain {
  margin: 0 auto;
  display: flex;
  flex-direction: row;

  flex-wrap: wrap;
  max-height: 77%;
  max-width: 1024px;
  width: 100%;
  overflow: auto;
  border-radius: 0;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--color-primary);
    border-radius: 8px;
    height: 50px;
  }

  .content {
    background-color: var(--color-gray);
    margin: 15px auto;
    min-height: 200px;
    min-width: 280px;

    &__info {
      display: flex;
      flex-direction: column;
      align-items: center;

      &--sub {
        margin-bottom: 3px;
      }
    }
  }
}

.content--img__img {
  border-radius: 8px;
}

.cardType {
  display: flex;
  margin: 10px auto;
  width: 80%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  &__type {
    display: flex;
    height: 100%;
    width: 100px;
    border-radius: 8px;
    justify-content: center;
    font-weight: 600;
  }
}
