<mat-card class="cardMain">
  <mat-card class="content">
    <mat-card-title-group>
      <mat-card-title>Mega Blastoise</mat-card-title>
      <mat-card-subtitle>Nº 001</mat-card-subtitle>
      <img
        class="content--img__img"
        mat-card-lg-image
        src="https://img.pokemondb.net/artwork/venusaur.jpg"
      />
    </mat-card-title-group>
    <mat-card-content style="margin-top: 10px">
      <div class="cardType">
        <div class="cardType__type">Fire</div>
        <div class="cardType__type">White</div>
      </div>
    </mat-card-content>
  </mat-card>
</mat-card>
